THIS NOTEBOOK IS FOR EDA ON DATA 1

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('C:/Praveen/DS Projects/CrickSight/data/raw/IPLPlayerAuctionData.csv')

In [4]:
df.head()

,Player,Role,Amount,Team,Year,Player Origin
0,Aaron Finch,Batsman,40000000,Sunrisers Hyderabad,2014.0,Overseas
1,Aaron Finch,Batsman,32000000,Mumbai Indians,2015.0,Overseas
2,Aaron Finch,Batsman,10000000,Gujarat Lions,2016.0,Overseas
3,Aaron Finch,Batsman,62000000,Kings XI Punjab,2018.0,Overseas
4,Aaron Finch,Batsman,44000000,Royal Challengers Bangalore,2020.0,Overseas

In [5]:
df.tail()

,Player,Role,Amount,Team,Year,Player Origin
965,Yuzvendra Singh Chahal,Bowler,1000000,Royal Challengers Bangalore,2014.0,Indian
966,Yuzvendra Singh Chahal,Bowler,60000000,Royal Challengers Bangalore,2018.0,Indian
967,Zaheer Khan,Bowler,26000000,Mumbai Indians,2014.0,Indian
968,Zaheer Khan,Bowler,40000000,Delhi Daredevils,2015.0,Indian
969,Zahir Khan Pakteen,Bowler,6000000,Rajasthan Royals,2018.0,Indian

In [6]:
df.describe()

             Amount         Year
count  9.700000e+02   969.000000
mean   2.105451e+07  2017.910217
std    2.800091e+07     2.964527
min    1.000000e+06  2013.000000
25%    2.000000e+06  2015.000000
50%    9.500000e+06  2018.000000
75%    3.000000e+07  2021.000000
max    1.625000e+08  2022.000000

In [7]:
df.isnull().sum()

Player           0
Role             0
Amount           0
Team             0
Year             1
Player Origin    0
dtype: int64

In [8]:
df.dropna(subset=['Year'], inplace=True)

In [9]:
df['Year'] = df['Year'].astype(int)

In [10]:
df.head()

,Player,Role,Amount,Team,Year,Player Origin
0,Aaron Finch,Batsman,40000000,Sunrisers Hyderabad,2014,Overseas
1,Aaron Finch,Batsman,32000000,Mumbai Indians,2015,Overseas
2,Aaron Finch,Batsman,10000000,Gujarat Lions,2016,Overseas
3,Aaron Finch,Batsman,62000000,Kings XI Punjab,2018,Overseas
4,Aaron Finch,Batsman,44000000,Royal Challengers Bangalore,2020,Overseas

In [11]:
df.duplicated().sum()

np.int64(0)

In [12]:

print("--- PRICE Column Analysis ---")
print(f"PRICE column data type: {df['Amount'].dtype}")
print(df['Amount'].head())
print("-" * 30)

--- PRICE Column Analysis ---
PRICE column data type: int64
0    40000000
1    32000000
2    10000000
3    62000000
4    44000000
Name: Amount, dtype: int64
------------------------------

In [13]:
print("\n--- ROLE Column Analysis ---")
print("Player's all unique roles:")
print(df['Role'].unique())
print("-" * 30)

--- ROLE Column Analysis ---
Player's all unique roles:
['Batsman' 'All-Rounder' 'Bowler' 'Wicket Keeper']
------------------------------

In [14]:
print("\n--- TEAM Column Analysis ---")
print("All unique team names:")
print(df['Team'].unique())
print("-" * 30)

--- TEAM Column Analysis ---
All unique team names:
['Sunrisers Hyderabad' 'Mumbai Indians' 'Gujarat Lions' 'Kings XI Punjab'
 'Royal Challengers Bangalore' 'Kolkata Knight Riders' 'Gujarat Titans'
 'Pune Warriors India' 'Rajasthan Royals' 'Delhi Daredevils'
 'Chennai Super Kings' 'Rising Pune Supergiant' 'Delhi Capitals'
 'Lucknow Super Giants' 'Punjab Kings']
------------------------------

In [15]:
# Correction in Teams name 
team_corrections = {
    'Kings XI Punjab': 'Punjab Kings',
    'Delhi Daredevils': 'Delhi Capitals'
}

In [16]:
df['Team'] = df['Team'].replace(team_corrections)


print("Standardized Team Names:")
print(df['Team'].unique())

Standardized Team Names:
['Sunrisers Hyderabad' 'Mumbai Indians' 'Gujarat Lions' 'Punjab Kings'
 'Royal Challengers Bangalore' 'Kolkata Knight Riders' 'Gujarat Titans'
 'Pune Warriors India' 'Rajasthan Royals' 'Delhi Capitals'
 'Chennai Super Kings' 'Rising Pune Supergiant' 'Lucknow Super Giants']

In [17]:
# one hot encoding for 'Role' and 'Team' columns
# Role, Team, aur Country teeno columns ko numbers mein badal do
df_encoded = pd.get_dummies(df, columns=['Role', 'Team', 'Player Origin'])

In [18]:

display(df_encoded.head())

,Player,Amount,Year,Role_All-Rounder,Role_Batsman,Role_Bowler,Role_Wicket Keeper,Team_Chennai Super Kings,Team_Delhi Capitals,Team_Gujarat Lions,...,Team_Lucknow Super Giants,Team_Mumbai Indians,Team_Pune Warriors India,Team_Punjab Kings,Team_Rajasthan Royals,Team_Rising Pune Supergiant,Team_Royal Challengers Bangalore,Team_Sunrisers Hyderabad,Player Origin_Indian,Player Origin_Overseas
0,Aaron Finch,40000000,2014,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,True
1,Aaron Finch,32000000,2015,False,True,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,True
2,Aaron Finch,10000000,2016,False,True,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,True
3,Aaron Finch,62000000,2018,False,True,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,True
4,Aaron Finch,44000000,2020,False,True,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,True

In [19]:
# New Columns 
print(df_encoded.columns)

Index(['Player', 'Amount', 'Year', 'Role_All-Rounder', 'Role_Batsman',
       'Role_Bowler', 'Role_Wicket Keeper', 'Team_Chennai Super Kings',
       'Team_Delhi Capitals', 'Team_Gujarat Lions', 'Team_Gujarat Titans',
       'Team_Kolkata Knight Riders', 'Team_Lucknow Super Giants',
       'Team_Mumbai Indians', 'Team_Pune Warriors India', 'Team_Punjab Kings',
       'Team_Rajasthan Royals', 'Team_Rising Pune Supergiant',
       'Team_Royal Challengers Bangalore', 'Team_Sunrisers Hyderabad',
       'Player Origin_Indian', 'Player Origin_Overseas'],
      dtype='object')

In [20]:
df.head()

,Player,Role,Amount,Team,Year,Player Origin
0,Aaron Finch,Batsman,40000000,Sunrisers Hyderabad,2014,Overseas
1,Aaron Finch,Batsman,32000000,Mumbai Indians,2015,Overseas
2,Aaron Finch,Batsman,10000000,Gujarat Lions,2016,Overseas
3,Aaron Finch,Batsman,62000000,Punjab Kings,2018,Overseas
4,Aaron Finch,Batsman,44000000,Royal Challengers Bangalore,2020,Overseas

In [21]:
from sklearn.model_selection import train_test_split



# Target (y) hai 'Amount' column
y = df_encoded['Amount']

# Features (X) mein 'Amount' aur 'PLAYER NAME' ke alawa sab kuch hoga
# Player Name ka koi predictive power nahi hota, isliye use hata denge
X = df_encoded.drop(columns=['Amount', 'Player'])

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
print("Data splitting successful! ✅")
print(f"Rows in training data : {X_train.shape[0]}")
print(f"Rows in test data : {X_test.shape[0]}")

Data splitting successful! ✅
Rows in training data : 775
Rows in test data : 194

In [24]:
# Chaliye check karte hain ki X mein kaunse columns abhi bhi text hain
print("Text wale columns (dtype 'object'):")
print(X.select_dtypes(include='object').columns)

Text wale columns (dtype 'object'):
Index([], dtype='object')

In [25]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# --- Step 1: Model Banana ---
# Hum 100 experts (n_estimators=100) ki ek team bana rahe hain
# random_state=42 ensures ki har baar result same aaye
model = RandomForestRegressor(n_estimators=100, random_state=42, n_jobs=-1)


# --- Step 2: Model ko Train Karna ---
# Yeh hai "padhai" wala step. Model training data se patterns seekh raha hai.
print("Model training shuru ho gayi hai... ⏳")
model.fit(X_train, y_train)
print("Model training complete! ✅")


# --- Step 3: Model se Prediction Karwana (Final Exam) ---
# Ab model anjaan test data (X_test) par predictions karega
predictions = model.predict(X_test)


# --- Step 4: Model ki Performance Check Karna ---
# Hum dekhenge ki model ki predictions asli price se average kitna door hain
# Iske liye hum 'Mean Absolute Error' (MAE) ka istemaal karenge
mae = mean_absolute_error(y_test, predictions)

print(f"\nModel ka performance (Mean Absolute Error): {mae:,.2f} Rupees")

Model training shuru ho gayi hai... ⏳
Model training complete! ✅

Model ka performance (Mean Absolute Error): 22,893,601.28 Rupees

In [26]:
from xgboost import XGBRegressor
from sklearn.metrics import mean_absolute_error


xgb_model = XGBRegressor(n_estimators=100, learning_rate=0.1, random_state=42, n_jobs=-1)


# --- Step 2: Model ko Train Karna ---
print("XGBoost Model training shuru ho gayi hai... ⏳")
xgb_model.fit(X_train, y_train)
print("XGBoost Model training complete! ✅")


# --- Step 3: Model se Prediction Karwana ---
xgb_predictions = xgb_model.predict(X_test)



xgb_mae = mean_absolute_error(y_test, xgb_predictions)

print(f"\nXGBoost Model ka performance (Mean Absolute Error): {xgb_mae:,.2f} Rupees")

XGBoost Model training shuru ho gayi hai... ⏳
XGBoost Model training complete! ✅

XGBoost Model ka performance (Mean Absolute Error): 22,067,434.00 Rupees

In [27]:
import joblib

# Hamare best model (XGBoost) ko ek file mein save karte hain
joblib.dump(xgb_model, 'xgb_model.pkl')

# Humein columns ka order bhi save karna hoga taaki app mein koi galti na ho
joblib.dump(X.columns, 'model_columns.pkl')

print("Model aur columns successfully 'xgb_model.pkl' aur 'model_columns.pkl' files mein save ho gaye hain!")

Model aur columns successfully 'xgb_model.pkl' aur 'model_columns.pkl' files mein save ho gaye hain!